body{
    background-color: rgba(200, 201, 200, 0.759);
    background-image: url(https://media.istockphoto.com/photos/to-do-list-picture-id1293850746?b=1&k=20&m=1293850746&s=170667a&w=0&h=-U81sV0dSXTFfGnyMakG5PMyiGTHaPIqFvLv_1zGN2k=);
}

#title-todolist{
    margin-left: 40%;
    margin-top:20px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(247, 241, 241);
   
}

hr{
    width:300px;
    margin-top:-10px;
    margin-bottom: 40px;
}

/* to do list outer box */
.container{
    max-height:90vh;
    width:600px;
    background-color: white;
    box-shadow:2px 2px 10px 5px rgb(29, 29, 29);
    position: relative;
    margin-left: 30%;
    border-radius: 5px;
    margin-top:-15px;
  
}

/* .container::-webkit-scrollbar {
    display: none;
    overflow: hidden;
} */


.input-icons img{
    position:relative;
    /* margin-right:-20px; */
 
}

#image1{
    margin-top:20px;
}

/* form input section */
#inputtask{
    background-image: url(https://cdn-icons-png.flaticon.com/512/887/887997.png);
    height:50px;
    width:90%;
    margin-top: 20px;
    margin-bottom:8px;
    margin-left:5%;
    background-size:calc(30px);
    background-repeat: no-repeat;
    padding-left:35px;
    border-radius:5px;
    background-color:rgb(255 134 178 / 19%);
   
   
}



/* form input button */
#add{
    position: absolute;
    top: 145px;
    right: 3.2%;
    font-size: 1.2rem;
    color: black;
    margin-right:20px;
    margin-top:-108px;
  
   
}



/* adding style to list to position it correct */
ul{
    margin-top:-25px;
}

ul li{
    list-style: none;
}

/* when no task available in to do list */
#notask{
    text-align: center;
    font-size: 1.3rem;
    color: gray;
    font-family: monospace;
}

/* total task of to do list */
#taskcount{
    margin-left:10px;
}

#completedtask{ 
    margin-left:10%;
    color:rgb(184, 183, 183);
    font-family: sans-serif;
    /* background-color: antiquewhite; */
  
}

#clearcompleted{
    margin-left:200px;
    cursor: pointer;
} 

#allcompleted{
    cursor:pointer;
}

hr{
    width:98%;
    margin-top: 10px;
}


/* total task div */
#total-task{
    /* background-color: blueviolet; */
    height:25px;
    width:100%;
    margin-top:-35px;
    color:rgb(184, 183, 183);
    font-family: sans-serif;
}


/* div consisting of filter */
.filter-options{
    margin-left:375px;
    color:rgb(184, 183, 183);
    font-family: sans-serif;
    margin-top:-22px;
    margin-right:0px;
   
}

/* styling filter options */
#completed {
    cursor: pointer;
}
#uncomplete {
    cursor: pointer;
}
#all{
    cursor: pointer;
}
/* ADDING STYLE TO LIST TASKS */

#lists-div{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height:40vh;
    margin-top:-35px;

}

/* creating container for all list task */
.list-task{
    display:flex;
    justify-content: space-between;
    height:40px;
    width:500px;
    background-color: rgba(158, 57, 96, 0.297);
    margin-left:5px;
    border-radius: 5px;
    box-shadow:1px 1px 1px 1px grey;
    margin-top:25px;
   
  
}


/* styling container consisting of checkbox */
.list-task-details{
    display:flex;

}

/* adding style to date  */
#date{
    font-family: sans-serif;
    color:grey;
    font-size: 0.564em;

}

/* styling container consisting of task name and date */
.list-task-name{
    margin-top: 8px;
}

/* adjusting delete button */
.list-task-delete{
    margin-top:10px;
    margin-right:5px;
    visibility: hidden;
}


.list-task:hover .list-task-delete{
    visibility: visible;
    transition: ease-in-out 0.5s;
}


.list-task:hover{
    background-color: rgb(201, 196, 196);
}




@media only screen and (max-width: 768px){
   


    .container{
        height:auto;
        width:400px;
        margin-left:30px;
    }
    .filter-options{
        margin-left:310px;
    }
    #clearcompleted{
        margin-left:50px;
    } 
    .list-task{
        width:300px;
    }
    
}

@media only screen and (max-width:900px){
    #title-todolist{
        margin-left: 30%;   
    }
    .container{
        
        margin-left:40px;

    }
}
 


